.main_cont {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 1000;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.model {
  overflow-y: scroll;
  max-width: 600px;

  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
}
.header {
  padding: 16px 24px;
  border-bottom: 1px solid #eee;
}
.header h6 {
  font-size: 20px;
  font-weight: normal;
}
.close_icon {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  transition: background 0.2s;
}
.close_icon:hover {
  background: #adadad;
}
.children {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
